{% include "header.j2" -%}
package de.msrd0.fontawesome.icons

import de.msrd0.fontawesome.Icon
import de.msrd0.fontawesome.Style
{%- for style in icon.styles %}
import de.msrd0.fontawesome.Style.{{ style | upper }}
{%- endfor %}

object {{ icon.classname }}: Icon {
	
	override val name get() = "{{ icon.label }}"
	
	override val unicode get() = "{{ icon.unicode }}"
	
	override val styles get() = setOf(
		{%- for style in icon.styles -%}
		{{ style | upper }}{% if loop.last == false %}, {% endif %}
		{%- endfor -%}
	)
	
	override fun svg(style: Style) = when(style) {
		{%- for svg in icon.svgList %}
		{{ svg.key | upper }} -> """{{ svg.value.raw }}"""
		{%- endfor %}
		else -> null
	}
	
}
